.card.clicked .dropdown {
  max-height: 100%;
}

#scanner {
  display: grid;
  justify-self: center;
}

#scan-modal {
  opacity: 1;
  padding: 0 !important;
  border: 3px solid var(--black) !important;
  border-radius: 1rem !important;
}
